/*mobile devices*/


h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-decoration-line: none;
}

li {
    display: inline-block;
}

div {
    width: 90px;
    height: 90px;
    margin: 3px;
    background-color: black;
}



/*tablet devices*/





/*desktop devices*/